.GuesserCanvas {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: filter ease-out 0.1s;
}

.GuesserCanvas-Drawing-dark {
    filter: invert();
    transition: filter ease-out 0.2s;
}

.GuesserCanvas hr {
    background-color: var(--tg-theme-secondary-bg-color, #f3f2f8);
    border: none;
    height: 1px;
    width: 100%;
}

.GuesserCanvas-Input {
    display: flex;
    width: 100%;
}

.GuesserCanvas-Input>* {
    margin: 0px 10px 10px 10px;
    caret-color: auto;
}

.GuesserCanvas-Input>input {
    flex: 1;
    padding-left: 0.25rem;
    border: none;
    user-select: text;
    background-color: var(--tg-theme-bg-color, white);
    color: var(--tg-theme-text-color, black);
    outline: none;
}

.GuesserCanvas-Drawing {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GuesserCanvas-Drawing img {
    background-color: white;
}

.GuesserCanvas-matched-subtext {
    font-size: 0.8em;
    color: var(--tg-theme-hint-color, gray);
}