.Button {
    text-align: center;
    background-color: var(--tg-theme-button-color, #5ac8fb);
    color: var(--tg-theme-button-text-color, white);
    font-size: 14pt;
    padding: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: filter 0.1s ease-in;
    box-sizing: border-box;
    width: 100%;
}

.Button:hover {
    transition: filter 0.2s ease-out;
    filter: brightness(90%);
}